.wrapper{
    /* background-color: #4157ff; */
    background-image: linear-gradient(259deg, #2ea4ff, #4157ff 36%);
}

.top-circle{
    width: 1000px;
    height: 1000px;
    border-radius: 100%;
    position: absolute;
    top: auto;
    left: auto;
    top: -48rem;
    left: -30rem;
    opacity: 0.3;
    background-image: linear-gradient(241deg, #2ea4ff, #4157ff);
}
